{% block navigation %}


    <header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar" style="height:65px;background-color: #4B0082;">

        <div><i class="fab fa-adn"></i></div>

        <div class="navbar-nav-scroll" >
            <ul class="navbar-nav bd-navbar-nav flex-row">
                <li class="nav-item">
                    <a class="nav-link " href="/" title="To beginning">MAIN PAGE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/list" title="List">FILM CATALOG</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/favorites" title="Favorites">FAVORITES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/addFilm" title="Add Film">ADD FILM TO CATALOG</a>
                </li>

            </ul>
        </div>

    </header>




{% endblock %}



